services:
  traefik:
    image: traefik:v2.9
    container_name: traefik
    restart: always
    command:
      - "--api.insecure=true"
      - "--providers.docker=true"
      - "--entrypoints.web.address=:80"
      - "--entrypoints.websecure.address=:443"
      - "--certificatesresolvers.myresolver.acme.tlschallenge=true"
      - "--certificatesresolvers.myresolver.acme.email={{ config['email'] }}"
      - "--certificatesresolvers.myresolver.acme.storage=/letsencrypt/acme.json"
    ports:
      - "80:80"
      - "443:443"
      - "8080:8080"
    volumes:
      - "/var/run/docker.sock:/var/run/docker.sock:ro"
      - "./traefik/letsencrypt:/letsencrypt"
      - "./traefik/traefik.yml:/etc/traefik/traefik.yml"

{% for registry in config["registries"] %}
  {{ registry.replace('.', '_') }}:
    image: registry:2.8.3
    container_name: {{ registry.replace('.', '_') }}
    restart: always
    volumes:
      - /etc/localtime:/etc/localtime
      - ./registries/{{ registry }}/data:/var/lib/registry
      - ./registries/{{ registry }}/config.yml:/etc/docker/registry/config.yml
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.{{ registry.replace('.', '_') }}.rule=Host(`{{ config['domain'] }}`) && PathPrefix(`/{{ registry }}`)"
      - "traefik.http.routers.{{ registry.replace('.', '_') }}.entrypoints=websecure"
      - "traefik.http.routers.{{ registry.replace('.', '_') }}.tls.certresolver=myresolver"
      - "traefik.http.routers.{{ registry.replace('.', '_') }}.middlewares=strip-{{ registry.replace('.', '_') }}"
      - "traefik.http.middlewares.strip-{{ registry.replace('.', '_') }}.stripPrefix.prefixes=/{{ registry }}"
      - "traefik.http.services.{{ registry.replace('.', '_') }}.loadbalancer.server.port=5000"
{% endfor %}